.col p{
	padding-top:10px;
}

button{
	background-color:#ffa1a5;
	border: none;
	text-decoration:none;
}

button:hover{
	background-color:#9ba6fa;
	color:white;
}

.header{
	background-color:#f1f1f1;
}

.main-heading{
	background-color:skyblue;
	text-align:left;
}

.main-heading h1{
	font-size:75px;
	padding-left:30px;
}

.main-heading h3{
	font-size:25px;
	padding-left:30px;
}

.central-heading{
	text-align:center;
}

.social-links{
	float:right;
}

.social-links i{
	padding:10px;
}

.social-links a{
	text-decoration:none;
}

.footer-right a{
	float:right;
	text-decoration:none;
	color:black;
	padding:0px 12px;
}

.services{
	background-color:bisque;
	padding-top:30px;
	text-decoration:	none;
	color:black;
}

.services:hover{
	background-color:pink;
}

.gap{
	margin:10px;
	padding-top:5px;
}
